<script type="text/javascript">
</script>
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/ProudctionLine/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true" striped="true">
        <thead>
            <tr>
                <th field="LINE_NO" width="60" >制丝线编号</th>
                <th field="LINE_NAME" width="80">制丝线名称</th>
                <th field="OUT_STATION" width="80">出口站台号</th>
                <th field="MEMO" width="120">备注</th>
            </tr>
        </thead>
    </table>
</div>

